/*________________________FONTS*/

@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
}
.fa
{
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    display: inline-block;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-sort-desc:before
{
    content: '\f0dd';
}
.fa-twitter:before
{
    content: '\f099';
}
.fa-facebook:before
{
    content: '\f09a';
}
.fa-instagram:before
{
    content: '\f16d';
}
.fa-arrow-circle-left:before
{
    content: '\f0a8';
}
.fa-arrow-circle-right:before
{
    content: '\f0a9';
}
.fa-lg
{
    font-size: 1.33333333em;
    line-height: .75em;

    vertical-align: -15%;
}
.vk
{
    font-weight: bold;
}




#container
{
    width: 950px;
    margin: auto;
}

/*__________________________HEADER*/
#header
{
    height: 33px;
    margin: 17px 0 0 0;
    padding: 0;

    list-style: none;
}
#header > li
{
    font-size: 12px;
    font-size: Cardana, Corbel, sans-serif;

    float: left;

    margin: 0 40px 0 0;

    cursor: pointer;

    color: #a1a1a1;
}
#header > li:hover
{
    color: #000;
}
#header > li:first-child
{
    margin: 0 40px 0 20px;
}
#header > li:last-child
{
    font-size: 16px;

    float: right;

    margin: 0 0 0 0;
    padding:0;
}
#header > li:last-child > span
{
    display: inline-block;
    margin: 0px 4px 0px 24px;
    color:#000;
    cursor: pointer;
    position: relative;
    top:0;
    -webkit-transition: all .1s linear ;
    -o-transition: all .1s linear ;
    -ms-transition: all .1s linear ;
    -moz-transition: all .1s linear ;
    transition: all .1s linear ;
}
#header>li:last-child>span:hover{
    top:-3px;
    color:#999;
}
/*__________________________/HEADER*/

/*_____________________________MAINBLOCK*/
#mainblock{
    height:600px;
}
#mainblock > div
{
    float: left;
}
#mainblock > div:first-child
{
    width: 797px;
}
#mainblock > div:first-child > img{
    display: inline-block;
}

#mainblock > div:last-child
{
    width: 153px;
    padding: 68px 0 0 0;
    height:531px;

    text-align: center;

    background-color: #000;
}
#mainblock > div:last-child > h2
{
    font-family: Cambria,serif;
    font-size: 24px;
    font-weight: normal;

    margin: 0 auto;

    color: #fff;
}
#mainblock > div:last-child > hr
{
    width: 92px;
    margin: 5px auto 23px;

    border: 4px solid #ffd263;
}
#mainblock > div:last-child > p
{
    font-family: Tahoma,sans-serif;
    font-size: 12px;

    color: #fff;
}
/*_____________________________/MAINBLOCK*/


/*________________________________NEWSBLOCK*/

#newsblock > h1{
    margin-left:18px;
    margin-top:11px;
    margin-bottom:11px;
    font-size: 22px;
    font-weight: 100;
    font-family: Candara, Corbel, sans-serif;
}

#slider{
    width:605px;
    height:440px;
    float:left;
}
#slider>#slidernews{
    background-color: #272526;
    width:605px;
    height:372px;
    margin:-1px 0 0 0;
    padding:1px 0 0 0;
}
/*________________________slider*/

.item{
    margin:45px 0 0 0;
    color:#fff;
    height:372px;
}
.item h2{
    margin-bottom:41px;
    font-size:27px;
    font-family: Candara, Tahoma, Corbel, sans-serif;
    font-weight: 100;
    text-align: center;
}
.item>div{
    display: block;
    width:100%;
    height:auto;
}
.item p{
    font-family: Tahoma, Corbel, sans-serif;
    font-size:14px;
    text-align: left;
    margin-left:10px;
    margin-bottom: 40px;
}
#slidernews .owl-buttons{
    display:none;
}

#slidernews .owl-pagination{
    position:absolute;
    top:400px;
    left:223px;
}
#slidernews .owl-page{
    width:8px;
    border:1px solid #fff;
    border-radius: 50%;
    margin:0 0 0 20px;
    float:left;
    height:8px;
}
#slidernews .owl-page.active{
    background-color: #fff;
}
/*________________________slider*/

#slider>div:last-child{
    width:605px;
    height:68px;
    background-color: #231f20;
}

#img{
    float:right;
}
/*________________________________NEWSBLOCK*/


/*__________________________________BIOBLOCK*/

#bioblock>h3{
    color:#fff;
}

/*__________________________________BIOBLOCK*/